@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Creepster&family=Lato&family=Montserrat&family=Roboto&display=swap');

body {
    background-color: #93B5C6;
    /* background-color: #81DAE8; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.row {
    margin: 0;
}

.search-bar {
    background-color: #00393F;
    text-align: center;
    padding: 10px;
    border-radius: 35px;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 15px;
}

#search-input {
    line-height: 2;
    border-radius: 6px;
    background-color: #93B5C6;
}

.reset-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #00393F;
    background-color: #16FB1F;
    border-color: #16FB1F;
    letter-spacing: 1px;
}

#rick-morty,
.card-title{
    font-family: 'Bangers', sans-serif;
    font-size: 40px;
    color: #00393F;

}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 5px;
    /* border-top: 1px solid rgba(0,0,0,.5); */
    height: 2px;
    background-color: #00393F;
}

.card {
    border: 5px solid #16fb1f;
    background-color: #CFF9FF;
    border-radius: 8px;
    box-shadow: 4px 4px 10px 6px rgba(0, 57, 63, .7);
    transition: 0.2s;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.card-img-top {
    object-fit: cover;
    height: 100%;
    border-radius: 50%;
}



/* FOOTER START */
footer {
    text-align: center;
    font-size: 150%;
    /* border: 3px solid #16fb1f; */
    width: 40%;
    margin: 15px auto;
    border-radius: 30px;
    /* background-color: #81DAE8; */
    padding: 10px;
}

footer li {
    display: inline;
}

footer i {
    color: #00393F;
    margin: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

ul {
    margin: 0;
    padding-inline-start: 0;
}